body {
    height: 100vh;
    margin: 20;
    text-align: center;
}
.box {
    width: 300px;
    margin-left: calc( 50% - (300px / 2) );
}
h1 {
    font-size: 20px;
    margin: 0 0 1rem 0;
}
.w-6 {
    width: 1.5em;
}
.h-6 {
    height: 1.5em;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cursor-pointer {
    cursor: pointer;
}

.rating-container{
    text-align: center;
}

.box > .stats {
    display: block;
}